*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    
}
body{
    background: #00abf0;
    color: #080808;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    color: #030303;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.home-sci{
    position: absolute;
    bottom: 250px;
    width: 870px;
    display: flex;
    justify-content: space-between;
    padding-left:460px;
}
.home-sci a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #e9e8f0;
    border-radius: 50%;
    font-size: 20px;
    color: #0d0268;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #ededed;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}
.V{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    font-size: 25px;
    color: #050303;
    text-decoration: none;
    font-weight: 600;
}

